---
layout: default
---

<article class="post">
  <h2>{{ page.title }}</h2>
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Escrito el {{ page.date | date: "%d/%m/%Y" }}
  </div>

  {% include disqus.html %}
</article>
